/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Selector por etiqueta */
  /* Header + Logo */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B0000;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  /* Selector por clase */
  /* Logo dentro del header */
  .logo img {
    width: 80px;
    height: auto;
  }
   /* Selector por etiqueta */
   /* Titulo principal */
  h1{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-left: 180px;
  }
   /* Selector combinado descendente */
  /* Menú de navegación */
  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  /* Selector combinado descendente */
  /* Estilo de los enlaces del menú */
  nav ul li a {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
  }
  /* Selector combinado descendente */
  /* Efecto al pasar el mouse por el menu */
  nav ul li a:hover {
    color: crimson;
  }
  /* Selector por grupo y clase */
  /* section Discografía */
  .Discografia, .Historia {
    background-color: #1c1c1c;
    padding: 20px;
    color: white;
    justify-content: center;
  }
  /* Selector por grupo y clase */
  /* Títulos dentro de la sección */
  .Discografia h2, .Historia h2, .Miembros h2 {
    letter-spacing: 1px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 36px;
  }
  /* Selector por grupo y clase */
  /* Lista de álbumes y miembros */
  .albumes, .lista-miembros {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  /* Selector por clase */
   /* Margen lista de álbumes */
  .albumes li {
    margin: 10px 0;
  }
  /* Selector por grupo y clase */
  /* Color fondo */
  .Historia, .Miembros {
    padding: 40px;
    background-color: #1c1c1c;
    color: white;
  }
   /* Selector por clase */
  .Historia h2 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
   /* Selector por clase */
  .parrafo {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
    text-align: center;
  }