/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Selector etiqueta header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B0000;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

}
/* Selector combinado descendente */
.logo img{
    width: 80px;
    height: auto;
    
}
/* Selector combinado descendente */
nav ul{
    list-style: none;
    display: flex;
    gap: 10px;

}
/* Selector combinado descendente */
nav ul li a{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
}
/* Selector combinado descendente */
nav ul li a:hover{
    color: crimson;
}
.Discografia{
    padding: 20px;
    justify-content: center;
    color: black;
    display: flex;
    height: 100vh;
}